@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

h3 {
  margin-bottom: 0;
  text-align: center;
}

small {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.fa-heart {
  color: red;
}

.loveMe {
  background: url('https://images.unsplash.com/photo-1635975229704-0a420e777a56?q=80&w=973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  height: 536px;
  margin: auto;
  max-width: 100%;
  position: relative;
  width: 344px;
}

.loveMe .fa-heart {
  animation: grow 0.6s linear;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(10);
  }
}
