@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: darksalmon;
  display: flex;
  flex-direction: column;
  font-family: 'Special Elite', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

div {
  background: rgba(0, 0, 0, 0.1);
  bottom: 20px;
  font-size: 18px;
  padding: 10px 20px;
  position: absolute;
}

input {
  background-color: darksalmon;
  border: none;
  font-size: 18px;
  padding: 5px;
  text-align: center;
  width: 50px;
}

input:focus {
  outline: none;
}
