@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #111;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 500px;
}

.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 2px #000;
  height: 16px;
  margin: 2px;
  transition: 2s ease;
  width: 16px;
}

.square:hover {
  transition-duration: 0s;
}

.settings {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.settings h3 {
  text-align: center;
}

.setting {
  padding: 10px;
}
