@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
  --success-color: lightgreen;
  --warning-color: orange;
  --error-colr: red;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
}

header h1 {
  color: #fff;
  margin: 0;
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: var(--secondary-color);
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  overflow: hidden;
  position: relative;
  width: 300px;
}

.movie img {
  width: 100%;
}

.movie-info {
  align-items: center;
  color: #eee;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.5px;
  padding: 0.5rem 1rem 1rem;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  border-radius: 3px;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
}

.movie-info span.green {
  color: var(--success-color);
}

.movie-info span.orange {
  color: var(--warning-color);
}
.movie-info span.red {
  color: var(--error-colr);
}

.overview {
  background-color: #fff;
  bottom: 0;
  left: 0;
  max-height: 100%;
  overflow-y: auto;
  padding: 2rem;
  position: absolute;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}
