@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(161, 100, 233);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

#button-container {
  flex: 1;
}

.btn {
  background-color: rebeccapurple;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
